::placeholder
{
    color: white;
}
html 
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
/*==============LAZY LOADER ===================*/


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/*================= END =============*/
.btn
{
    text-transform: none;
    box-shadow: none;
	background-color: transparent;
}
/*=============== NAVBAR STYLE ===========================*/
.sidenav 
{
    z-index: 1000;
}
nav .brand-logo
{
    margin-left: 10%;
}
.logo
{
    height: 30px;
    width: 35px;
}

nav
{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0,0.92);
    box-shadow: none;
    position: fixed;
    z-index: 999;
}
nav a 
{
    color: white;
}
nav ul
{
    margin-right: 5%;
}
nav ul li a
{
    margin-left: 20px;
    
}
nav ul li a:hover
{
    background-color:transparent;
}
nav ul a
{
    color: white;
}
.toggle
{
    height: 40px;
    width: 40px;
    margin-top: 27%;
    transition: 1s;
}
/*=============== NAVBAR STYLE END ===========================*/



/*=============== HOME STYLE ===========================*/
.home
{
    width: 100%;
    min-height: 200px;
    background-color: transparent;        /*change with transparent*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home-content
{
    width: 45%;
    min-height: 100px;
    background-color: transparent;         /*change with transparent*/
    margin-top: 7%;
}
.home-content h1
{
    font-size: 3rem;
    color: white;
    transition: 0.5s;
    font-weight: 600;
    line-height: 1.5;
    
}
.home-content h1 span
{
    color: #8FFF00;
}
.home-image
{
    width: 45%;
    min-height: 100px;
    background-color: transparent;        /*change with transparent*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
.home-links
{
    width: 10%;
    min-height: 100px;
    background-color: transparent;         /*change with transparent*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.myprofile
{
    height: 500px;
    width: 500px;
}
.home-links a i
{
    color: white;
    transition: 0.5s;
    font-size: 1.5rem;
    padding-top: 50px;
    cursor: pointer;
}

/*=============== HOME STYLE END ===========================*/


/*=============== SCROLL STYLE ===========================*/

.middle{
    position: absolute;
    left: 49%;
    bottom: 1%;
    position: fixed;
    z-index: 999;

  }
  .mouse{
    width: 25px;
    height: 45px;
    border: 3px solid white;
    border-radius: 50px;
  }
  .before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 2s infinite;
  }
  @keyframes mouse {
    from{
      opacity: 1;
      top: 7px;
    }
    to{
      opacity: 0;
      top: 30px;
    }
  }

  .middle.active 
  {
      
      display: none;
      transition: ease-in-out 3s;
  }

/*=============== SCROLL STYLE END ===========================*/

/*=============== ABOUT STYLE END ===========================*/
.about
{
    width: 100%;
    min-height: 100px;
    background-color: transparent;
}
.about-title
{
    display: flex;
    justify-content: center;
	background-color: transparent;
}
.about-image h4
{
    font-family: inherit;
    font-size: 1.3rem;
    color: #8FFF00;
    margin-top: 10%;
}
.about-image h1
{
    font-family: inherit;
    font-size: 2.3rem;
	font-weight: 900;
    color: white;
}
.about-section-bottom
{
    min-height: 100px;
    width: 80%;
    margin: 0px auto;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about-image
{
    min-height: 100px;
    width: 40%;
    background-color: transparent;
	background-size: cover;
    overflow: hidden;
    margin-top: 10%;
	
}
.about-images
{
    min-height: 100px;
    width: 40%;
    background-color: transparent;
	background-size: cover;
    overflow: hidden;
    margin-top: 10%;
	display: flex;
	justify-content: center;
	
}
.aboutprofile
{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.about-content
{
    min-height: 100px;
    width: 40%;
    background-color: transparent;
}
.about-content p
{
    font-size: 1.3rem;
    margin-top: 20%;
    color: white;
    font-family: inherit;
    text-align: justify;
    word-spacing: 2px;
}
.about-content p span
{
    color: #8FFF00;
	font-weight: 700;
}
.banner 
{
	height: 170px;
	width: 100%;
	background-color: transparent;
	margin-top: 10%;
}
.imgbanner
{
	height:100%;
	width: 100%;
}
.skills
{
    min-height: 100px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-title h1
{
    font-family: inherit;
    font-size: 2rem;
    color: white;
    margin-top: 35%;
}
.skills-cards
{
    min-height: 100px;
    width: 100%;
    background-color: transparent;
}

/*========== FOR CARD LEFT================*/
.card-left
{
    min-height: 300px;
    width: 80%;
    margin: 0px auto;
    margin-top: 5%;
    background-color: transparent;
}
.card-1
{
    min-height: 100px;
    width: 450px;
    background-color: transparent;
    float: left;
    display: flex;
    justify-content: space-between;
}
.skills-logo
{
    height: 300px;
    width: 100%;
}
.card-1-left
{
    min-height: 230px;
    width: 20%;
    background: rgb(143, 255, 0);
    background: linear-gradient(90deg, rgba(143, 255, 0,1) 0%, rgba(0,0,0,1) 100%);
    float: left;
    position: relative;
    left:-20px;
    box-shadow: -8px 8px 10px rgb(0 0 0 / 30%);
    top:35px;
    z-index: 9;
}
.card-1-left h3
{
    font-size: 1.5rem;
    color: white;
    font-family: inherit;
    padding-left: 20px;
}
.card-1-left ul
{
    color: white;
    font-size: 1rem;
    font-family: inherit;
    list-style-type: none;
    padding-left: 30px;
}
/*================= FOR CARD RIGHT =================*/

.card-right
{
    min-height: 300px;
    width: 80%;
    margin: 0px auto;
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}
.card-2
{
    min-height: 100px;
    width: 450px;
    background-color: transparent;
    float: left;
    display: flex;
    justify-content: space-between;
}
.skills-logo
{
    height: 300px;
    width: 100%;
}
.card-2-right
{
    height: 230px;
    width: 20%;
    background: rgb(143, 255, 0);
    background: linear-gradient(270deg, rgba(143, 255, 0,1) 0%, rgba(0,0,0,1) 90%);
    float: left;
    position: relative;
    right: -20px;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 30%);
    top:35px;
    z-index: 9;
}
.card-2-right h3
{
    font-size: 1.5rem;
    color: white;
    font-family: inherit;
    padding-left: 20px;
}
.card-2-right ul
{
    color: white;
    font-size: 1rem;
    font-family: inherit;
    list-style-type: none;
    padding-left: 30px;
}
.work
{
    min-height: 100px;
    width: 60%;
    margin: 0px auto;
    margin-top: 5%;
    background-color: transparent;
}
.work-title
{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: inherit;
}
.work-title h1
{
    
    font-size: 4rem;
	font-weight: 900;
}
.work-title h3
{
    font-size: 2.5rem;
	font-weight: 700;
}
.project
{
    min-height: 100px;
    width: 100%;
    margin-top: 5%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.project-image
{
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.p1
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}
.project-content
{
    min-height: 100px;
    width: calc(100% - 250px);
    background-color: transparent;
    margin-top: 5%;
}
.project-content-title span 
{
    font-size: 1.3rem;
    color: white;
    font-family: inherit;
    font-weight: 600;
    padding-left: 30px;
}
.project-content-summary
{
    font-size: 1rem;
    color: white;
    padding-left: 30px;
}
.banner-image
{
	height:50px;
	width: 100%;
	background-color: transparent;
	margin-top:10%;
}
.bannerDown
{
	height:100%;
	width:100%;
}
.quote
{
    min-height: 150px;
    width: 90%;
    margin: 0px auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote h1 
{
    font-size: 1.5rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}
.quote h1 span 
{
    color: #8FFF00;
}
.contact
{
    width: 80%;
    min-height: 100px;
    background-color: transparent;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-title
{
    width: 100%;
    min-height: 50px;
    background-color: transparent;
}
.contact-title h1 
{
    font-size: 2rem;
    color: white;
    text-align: center;
}
.contact-title h3 
{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.contact-form
{
    min-height: 100px;
    width: 50%;
    margin: 0px auto;
    background-color: transparent;
}
.row .col.s6
{
    width: 100%;
}
input
{
    color: white;
    border-bottom: 1px solid white;
}
textarea
{
    color: white;
}
.privacy
{
    font-size: 0.8rem;
    color: white;
}
.button
    {
        width: 100%;
        min-height: 10px;
        background-color: transparent;
        display: flex;
        justify-content: center;
    }
    .send-button 
    {
        width: 100px;
        height: 40px;
        cursor: pointer;
        border: none;
        background-color: transparent;
		border: 2px solid white;
        color: white;
        font-family: inherit;
        font-size: 1rem;
    }
.footer
{
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer h1 
{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
}
.icons
{
    width: 20%;
    min-height: 50px;
    background-color: transparent;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.icons i 
{
    font-size: 2rem;
    color: #8FFF00;
    cursor: pointer;

}
.footer h3 
{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-family: inherit;
}

/*====== FOR PNP PAGE =====*/

.pnp
{
    min-height: 100px;
    width: 80%;
    margin: 0px auto;
    background-color: transparent;
    overflow: hidden;
}
.pnp h1 
{
    font-size: 2.5rem;
    color: white;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    margin-top: 10%;
}
.pnp span 
{
    font-size: 2rem;
    color: white;
    text-align: justify;
    font-family: inherit;
}
.pnp h5 
{
    font-size: 1.5rem;
    color: white;
    text-align: justify;
    font-family: inherit;
}
.pnp p
{
    font-size: 1rem;
    color: white;
    text-align: justify;
    font-family: inherit;
}
.security-content
{
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.security-content h3 a 
{
    color: white;
    cursor: pointer;
}
.smart
{
    display: none;
}
.mobile
{
    display: none;
}
.thankyou p 
{
     color: white; 
     font-size: 10vh
}
.soon 
{
    color: white; 
     font-size: 5vh
}
/*=============== ABOUT STYLE END ===========================*/
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .mobile
    {
        display: block;
    }
    .toggle-smart
    {
        margin-top: 0;
        height: 30px;
        width: 30px;
        margin-left: 273px;
        
    }
    nav .brand-logo
    {
        margin-left: 0;
		
    }
    .home-content
    {
        width: 100%;
    }
    .home-image
    {
        width: 100%;
    }
    .home-links
    {
        width: 100%;
    }
    .home-content h1
    {
        font-size: 1.5rem;
        margin-left: 7%;
    }
    .btn
    {
        margin-left: 7%;
        margin-bottom: 1%;
        background-color: transparent;
		border: 2px solid white;
        
    }
    .home-content
    {
        margin-top: 15%;
    }
    .myprofile
    {
    height: 300px;
    width: 300px;
    }
    .home-links
    {
        flex-direction: row;
        justify-content: space-around;
    }
    .home-links i 
    {
        padding-top: 20px;
    }
    .middle
    {
        display: none;
    }
    .line
    {
        height: 3px;
        width: 80%;
        margin: 0px auto;
        background-color: white;
        border-radius: 3px;
        margin-top: 10%;
    }
    .about-title h1
    {
        font-size: 1.3rem;
    }
    .about-image
    {
        width: 250px;
        height: 200px;
    }
	.about-images 
	{
		width: 100px;
		margin-left:4%;
	}
    .aboutprofile
    {
        height: 100px;
		width: 100px;
    }
	.imgbanner 
	{
		height:100px;
	}
    .about-content
    {
        width: 100%;
    }
    .about-content p
    {
        margin-top: 10%;
        font-size: 1rem;
    }
    .skills-title h1
    {
        font-size: 1.3rem;
    }
    .card-left
    {
        width: 100%;
        min-height: 200px;
    }
    .card-1
    {
        width: 100%;
    }
    .skills-logo
    {
        width: 100%;
        height: 200px;
    }
    .card-1-left
    {
        display: none;
    }
    .collapsible-mobile
    {
        width: 80%;
        margin: 0px auto;
		margin-top: 20%;
    }
    .collapsible-mobile h3
    {
        text-align: center;
        color: white;
        font-size: 1.3rem;
        font-family: inherit;
        font-weight: 600;
    }
    .collapsible-mobile p
    {
        color: white;
        text-align: center;
        font-size: 1rem;
    }
    .card-right
    {
        width: 100%;
        min-height: 200px;
    }
    .card-2
    {
        width: 100%;
    }
    
    .card-2-right
    {
        display: none;
    }
    .work
    {
        width: 100%;
		margin-top: 10%;
    }
    .project-image
    {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    .p1
    {
        height: 100px;
        width: 100px;
    }
    .project-content
    {
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
    .work-title h1
    {
        font-size: 1.3rem;
    }
    .work-title h3 
    {
        font-size: 1rem;
    }
    .project-content-summary
    {
        padding-left: 0;
    }
    .project-content-summary p 
    {
        text-align: justify;   
    }
    .quote h1
    {
        font-size: 1.3rem;
    }
    .contact-title h1 
    {
        font-size: 1.3rem;
    }
    .contact-title h3 
    {
        font-size: 1rem;
    }
    .contact
    {
        width: 100%;
        margin: 0px auto;
    }
    .contact-form
    {
        width: 90%;
        margin: 0px auto;
    }
    .button
    {
        width: 100%;
        min-height: 10px;
        background-color: transparent;
        display: flex;
        justify-content: center;
    }
    .send-button 
    {
        width: 100px;
        height: 30px;
        border: none;
        background-color: transparent;
		border: 1px solid white;
        color: white;
        font-family: inherit;
        font-size: 0.8rem;
    }
    .footer h1 
{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
}
.icons
{
    width: 60%;
    min-height: 50px;
    background-color: transparent;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.icons i 
{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;

}
.footer h3 
{
    font-size: 1rem;
    color: white;
    text-align: center;
    font-family: inherit;
}
.security-content
{
    width: 100%;
}
.security-content h3 
{
    font-size: 0.8rem;
}
.extra
    {
        height: 50px;
        width: 100%;
    }
.pnp h1 
{
    font-size: 1.5rem;
}
.thankyou p 
{
    font-size: 3vh;
}
.soon 
{
    font-size: 2vh;
}
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 830px) {
    .mobile
    {
        display: block;
    }
    .toggle-smart
    {
        margin-top: 0;
        height: 30px;
        width: 30px;
        margin-left:700%
        
    }
    nav .brand-logo
    {
        margin-left: 0;
    }
    .home-content
    {
        width: 100%;
    }
    .home-image
    {
        width: 100%;
    }
    .home-links
    {
        width: 100%;
    }
    .home-content h1
    {
        font-size: 2.5rem;
        margin-left: 7%;
    }
    .btn
    {
        margin-left: 7%;
        margin-bottom: 1%;
        width: calc(12% + 10px);
        background-color: transparent;
		border: 2px solid white;
        padding: 2px;
        height: 40px;
        
        
    }
    .myprofile
    {
    height: 320px;
    width: 320px;
    }
    .home-links
    {
        flex-direction: row;
        justify-content: space-around;
    }
    .home-links i 
    {
        padding-top: 20px;
    }
    .middle
    {
        display: none;
    }
    .line
    {
        height: 3px;
        width: 80%;
        margin: 0px auto;
        background-color: white;
        border-radius: 3px;
        margin-top: 10%;
    }
    .about-image
    {
        width: 350px;
        height: 300px;
    }
	.about-images
	{
		width: 30%;
	}
    .aboutprofile
    {
        height: 150px;
		width: 150px;
    }
    .about-content
    {
        width: 100%;
    }
    .about-content p
    {
        margin-top: 10%;
        font-size: 1.2rem;
    }
    .card-left
    {
        width: 100%;
        min-height: 200px;
    }
    .card-1
    {
        width: 100%;
    }
    .skills-logo
    {
        width: 100%;
        height: 200px;
    }
    .card-1-left
    {
        display: none;
    }
    .collapsible-mobile
    {
        width: 80%;
        margin: 0px auto;
    }
    .collapsible-mobile h3
    {
        text-align: center;
        color: white;
        font-size: 1.3rem;
        font-family: inherit;
        font-weight: 600;
    }
    .collapsible-mobile p
    {
        color: white;
        text-align: center;
        font-size: 1rem;
    }
    .card-right
    {
        width: 100%;
        min-height: 200px;
    }
    .card-2
    {
        width: 100%;
    }
    
    .card-2-right
    {
        display: none;
    }
    .work
    {
        width: 80%;
    }
    .contact
    {
        width: 100%;
    }
    .contact-form
    {
        width: 80%;
    }
    .security-content
    {
        width: 80%;
    }
    .extra
    {
        height: 50px;
        width: 100%;
    }
    .thankyou p 
{
     color: white; 
     font-size: 4vh
}
.soon 
{
    color: white; 
     font-size: 3vh
}
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 830px) and (max-width: 992px) {
    .mobile
    {
        display: block;
    }
    .toggle-smart
    {
        margin-top: 0;
        height: 30px;
        width: 30px;
        margin-left:1000%
        
    }
    nav .brand-logo
    {
        margin-left: 0;
    }
      
    .home-content h1
    {
        font-size: 2.5rem;
        margin-left: 7%;
    }
    .btn
    {
        margin-left: 7%;
        margin-bottom: 1%;
        width: calc(20% + 10px);
        background-color: transparent;
		border: 2px solid white;
        padding: 2px;
        height: 40px;
        
        
    }
    .myprofile
    {
    height: 350px;
    width: 350px;
    }
    .middle
    {
        display: none;
    }
    .about-section-bottom
    {
        width: 100%;
    }
    .about-image
    {
    
        height: 100%;
		width: 70%;
    }
	.about-images
	{
		width: 200px
	}
    .aboutprofile
    {
        height: 200px;
		width:200px
    }
    .collapsible-mobile
    {
        display: none;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-content h1
    {
        margin-left: 23%;
        margin-top: 100px;
    }
    .btn
    {
        margin-left: 23%;
        margin-bottom: 1%;
        width: calc(20% + 30px);
        background-color: transparent;
		border: 2px solid white;
        padding: 7px;
        height: 50px;
        
        
    }
    .collapsible-mobile
    {
        display: none;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .collapsible-mobile
    {
        display: none;
    }
}